<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Severstal"
			 connectionString="Data Source=SPUTNIK;Initial Catalog=diploma_db;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>